<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://i.ibb.co/F43hVtH/spiderman-japones-en-spider-verse-2-1200x675.jpg"
      alt=""
      height="300px"
    />
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nam omnis
        magnam aperiam ipsa id, iusto iste tempora repellendus aspernatur?.
      </a>
    </p>
  </div>
</div>
