.container_small-card {
    /* border: 1px solid white; */
    width: 700px;
    margin-bottom: 15px;
}

.container_small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card_photo>img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    height: 100px;
}

.small-card_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_small-card-separator {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}